html,
body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1.5em;
  font-weight: 700;
}

#clock-wrapper {
  margin: 0.5em;
  transform: scale(1);
}

@media (min-width: 770px) and (min-height: 350px) {
  #clock-wrapper {
    transform: scale(1.5);
  }
}

@media (min-width: 1020px) and (min-height: 350px) {
  #clock-wrapper {
    transform: scale(2);
  }
  #date {
    font-size: 2em;
  }
}

/* @media (min-width: 1350px) and (min-height: 500px) {
  #clock-wrapper {
    transform: scale(3);
  }
} */
